<!DOCTYPE html>
<html>

<head>

    <title>Notes App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <div class="logo">
            Noteify
        </div>

        <div class="nav-links">

            <a href="/signup">
                <button>Signup</button>
            </a>

            <a href="/login">
                <button>Login</button>
            </a>

        </div>

    </div>

    <div class="main-container">

        <h1>Welcome to Notes App</h1>

        <p>
            Create, manage and organize your notes securely.
        </p>

    </div>

</body>

</html>

