<!DOCTYPE html>
<html>

<head>

    <title>Notes App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <div class="logo">
            Noteify
        </div>

        <div class="nav-links">

            <a href="/signup">
                <button>Signup</button>
            </a>

            <a href="/login">
                <button>Login</button>
            </a>

        </div>

    </div>

    <div class="main-container">

        <h1>Welcome to Noteify app</h1>
        <h2>Jai shree ram</h2>
        
        <p>
             Create, manage and organize your notes securely  it is a good web application.
        </p>

    </div>

</body>

</html>

